<a href="https://colab.research.google.com/github/emin-ozturk/Python-ML/blob/main/Titanik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import seaborn as sns
import pandas as pd

# Veri seti y√ºklenmesi

In [41]:
titanic = sns.load_dataset("titanic")
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [42]:
titanic.shape

(891, 15)

# Bo≈ü deƒüerlerin belirlenmesi ve silinmesi

In [43]:
titanic.isna().sum() / len(titanic)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [51]:
columns_names = [col for col in titanic.columns if titanic[col].isna().sum() / len(titanic) < 0.7]
columns_names

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'embark_town',
 'alive',
 'alone']

In [110]:
df = titanic[columns_names]

# Benzer olan s√ºtunlarƒ±n silinmesi

In [111]:
df.drop(["alive", "embarked", "adult_male", "sibsp", "who"], axis=1, inplace=True)
df.head(5)

<ipython-input-111-15129850a41d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["alive", "embarked", "adult_male", "sibsp", "who"], axis=1, inplace=True)

   survived  pclass     sex   age  parch     fare  class  embark_town  alone
0         0       3    male  22.0      0   7.2500  Third  Southampton  False
1         1       1  female  38.0      0  71.2833  First    Cherbourg  False
2         1       3  female  26.0      0   7.9250  Third  Southampton   True
3         1       1  female  35.0      0  53.1000  First  Southampton  False
4         0       3    male  35.0      0   8.0500  Third  Southampton   True

# Guruplandƒ±rma ve kƒ±rƒ±lƒ±m inceleme

In [112]:
df.groupby("pclass").agg({"fare": ["max", "min", "mean", "median"]})

            fare
             max  min       mean   median
pclass
1       512.3292  0.0  84.154687  60.2875
2        73.5000  0.0  20.662183  14.2500
3        69.5500  0.0  13.675550   8.0500

In [113]:
df.groupby(["embark_town", "sex"]).agg({"survived": "mean"})

                    survived
embark_town sex
Cherbourg   female  0.876712
            male    0.305263
Queenstown  female  0.750000
            male    0.073171
Southampton female  0.689655
            male    0.174603

In [114]:
df.groupby(["pclass", "alone"]).agg({"survived": "mean"})

              survived
pclass alone
1      False  0.728972
       True   0.532110
2      False  0.637500
       True   0.346154
3      False  0.299401
       True   0.212963

In [118]:
agg_df = df.groupby(["class", "sex", "embark_town"]).agg({"survived": "mean", "age": "mean"})
agg_df

                           survived        age
class  sex    embark_town
First  female Cherbourg    0.976744  36.052632
              Queenstown   1.000000  33.000000
              Southampton  0.958333  32.704545
       male   Cherbourg    0.404762  40.111111
              Queenstown   0.000000  44.000000
              Southampton  0.354430  41.897188
Second female Cherbourg    1.000000  19.142857
              Queenstown   1.000000  30.000000
              Southampton  0.910448  29.719697
       male   Cherbourg    0.200000  25.937500
              Queenstown   0.000000  57.000000
              Southampton  0.154639  30.875889
Third  female Cherbourg    0.652174  14.062500
              Queenstown   0.727273  22.850000
              Southampton  0.375000  23.223684
       male   Cherbourg    0.232558  25.016800
              Queenstown   0.076923  28.142857
              Southampton  0.128302  26.574766

In [119]:
agg_df.reset_index(inplace = True)

In [120]:
agg_df

     class     sex  embark_town  survived        age
0    First  female    Cherbourg  0.976744  36.052632
1    First  female   Queenstown  1.000000  33.000000
2    First  female  Southampton  0.958333  32.704545
3    First    male    Cherbourg  0.404762  40.111111
4    First    male   Queenstown  0.000000  44.000000
5    First    male  Southampton  0.354430  41.897188
6   Second  female    Cherbourg  1.000000  19.142857
7   Second  female   Queenstown  1.000000  30.000000
8   Second  female  Southampton  0.910448  29.719697
9   Second    male    Cherbourg  0.200000  25.937500
10  Second    male   Queenstown  0.000000  57.000000
11  Second    male  Southampton  0.154639  30.875889
12   Third  female    Cherbourg  0.652174  14.062500
13   Third  female   Queenstown  0.727273  22.850000
14   Third  female  Southampton  0.375000  23.223684
15   Third    male    Cherbourg  0.232558  25.016800
16   Third    male   Queenstown  0.076923  28.142857
17   Third    male  Southampton  0.128302  26.574766

In [121]:
agg_df.shape

(18, 5)

In [122]:
agg_df["person_info"] = agg_df[["class", "sex", "embark_town"]].agg(lambda x: "_".join(x).upper(), axis=1)

In [124]:
agg_df.head()

   class     sex  embark_town  survived        age               person_info
0  First  female    Cherbourg  0.976744  36.052632    FIRST_FEMALE_CHERBOURG
1  First  female   Queenstown  1.000000  33.000000   FIRST_FEMALE_QUEENSTOWN
2  First  female  Southampton  0.958333  32.704545  FIRST_FEMALE_SOUTHAMPTON
3  First    male    Cherbourg  0.404762  40.111111      FIRST_MALE_CHERBOURG
4  First    male   Queenstown  0.000000  44.000000     FIRST_MALE_QUEENSTOWN

In [127]:
person = "FIRST_MALE_CHERBOURG"
agg_df[agg_df["person_info"] == person]

   class   sex embark_town  survived        age           person_info
3  First  male   Cherbourg  0.404762  40.111111  FIRST_MALE_CHERBOURG